*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a{
    text-decoration: none;
    color:inherit;
}

li{
    list-style-type: none;
}

.container
{
    max-width: 1200px;
    margin: 0 auto;
    font-family: 'Raleway', sans-serif;
}

main .container{
    
    /* padding:125px 0; */
    padding:150px 0 300px;
}

.header_icon{
    display: block;
    position: static;
    cursor: pointer;
}  

header.selected{
    display: block;
}

header{
    display: none;
    position: static;
    background: #D0D0D0;
}

.container_head,
.logo_block,
.navigation_block ,
.navigation_block ul,
.contacts_block{
    display: flex;
}

.container_head{
    justify-content: space-between;
}

.navigation_block{
    display: flex;
    gap:50px;
}

.navigation ul{
    font-size: 14px;
    text-transform: uppercase;
    font-weight: 400;
    gap:60px;
}

.logo_block,.navigation_block,.contacts_block{
    align-items: center;
}

.logo_block .logo
{
    display: block;
    /* width: 145px;
    height: 155px; */
    width: 125px;
    height: 120px;
    overflow: hidden;
}

.logo_block .logo img{
    display: block;
    width: 100%;
    height: 100%;
}

.logo_block h2{
    font-size: 25px;
}

.contacts_block
{
    width: 115px;
    display: flex;
    justify-content: space-between;
}

.contact_block
{
    display: block;
    background-color: #fff;
    width: 25px;
    height: 25px;
    transition: .5s;
    border-radius: 50%;
}

.contact_block .icon
{
    display: block;
    width: 100%;
    height: 100%;
}

main{
    background: linear-gradient(90deg, rgba(52, 52, 52, 0.2) 0%,
    rgba(255, 255, 255, 0.2) 10.42%, rgba(255, 255, 255, 0.2) 48.44%,
    rgba(255, 255, 255, 0.2) 88.54%, rgba(52, 52, 52, 0.2) 100%),
    #FFFFFF;
}

.container_2 .photographer_info{
    display: flex;
    justify-content: space-between;
}

/* .photographer_info_text{
    max-width: 1000px;
    padding:125px 55px 120px;
    font-size:1.2em;
}

.photographer_info_text .infos{
    padding-top: 145px;
}

.photographer_info_text .info{
    margin-bottom: 50px;
}

.photographer_info_page{
    padding:15px 70px;
}

.photographer_info_page .photographer_icon{
    max-width: 325px;
    max-height: 325px;
}

.photographer_info_page .photographer_icon img{
    display: block;
    width: 100%;
    height: 100%;
} */

.photographer_info_text{
    max-width: 1000px;
    /* padding:125px 55px 120px; */
    padding:0px 55px;
    font-size:20px;
    /* font-size:2.5vmin; */
}

.photographer_info_text h1.name{
    /* font-size:2.5vw; */
}

.photographer_info_text .infos{
    padding-top: 120px;
    display: grid;
    gap:60px;
    /* font-size:1.3vw; */
    /* font-size:2.5vh; */
}

.photographer_info_text .info{
    /* margin-bottom: 60px; */
}

.photographer_info_page{
    /* padding:100px 70px; */
    padding:0px 70px;
}

.photographer_info_page .photographer_icon{
    max-width: 325px;
    max-height: 325px;
}

.photographer_info_page .photographer_icon img{
    display: block;
    width: 100%;
    height: 100%;
}

.photographer_info_page .photographer_contacts{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap:25px;
    /* padding-top: 40px; */
    padding-top: 25px;
}

.photographer_info_page .photographer_contact{
    font-size: 18px;
    color:#fff;
    width: 200px;
    /* height: 50px; */
    background: #323860;
    border-bottom: 1px solid #FFFFFF;
    text-align: center;
    transition: .5s;
}

.photographer_info_page .photographer_contact a{
    display: flex;
    justify-content: center;
    align-items: center;
    padding:13px 0 15px;
}

.photographer_info_page .photographer_contact:hover{
    background: #6A72AD;
}

.contact_icons{
    display: flex;
    gap:10px;
}

.contact_icon{
    cursor: pointer;
    width: 30px;
    height: 30px;
}

.contact_icon img{
    display: block;
    width: 100%;
    height: 100%;
}

/* .photographer_info_page .photographer_contacts{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap:25px;
    padding-top: 40px;
}

.photographer_info_page .photographer_contact{
    font-size: 18px;
    color:#fff;
    width: 200px;
    background: #323860;
    border-bottom: 1px solid #FFFFFF;
    text-align: center;
    transition: .5s;
}

.photographer_info_page .photographer_contact a{
    padding:15px 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.photographer_info_page .photographer_contact:hover{
    background: #6A72AD;
} */

.feedback_block .headline{
    font-weight: 400;
    margin-bottom: 85px;
}

.feedback_block .user_info{
    max-width: 580px;
}

.feedback_block .input{
    display: block;
    width: 100%;
    padding:20px 0;
    font-size: 15px;
    border: none;
    border-bottom: 1px solid black;
    background: transparent;
}

.feedback_block .input:-internal-autofill-selected{
    background: transparent;
}

.feedback_block .iti{
   width: 100%;
}

.feedback_block .error{
    font-size: 20px;
    color:red;
    font-weight: bold;
    opacity: 0;
    margin-bottom: 60px;
}

.feedback_block .sendButton{
    display: block;
    width: 200px;
    height: 50px;
    background-color: #000;
    color:white;
    font-size: 18px;
    font-weight: 200;
    transition: .5s;
    cursor: pointer;
}

.feedback_block .sendButton:hover{
    background-color: #fff;
    color:#000;
}

.feedback_block .send_message{
    opacity: 0;
    color:rgb(56, 190, 56);
    transition: .2s;
    font-size: 20px;
}

footer{
    background-color: #D0D0D0;
}

.container_footer{
    display: flex;
    justify-content: space-between;
}

.container_footer .photographer_icon{
    /* width: 155px;
    height: 155px; */
    width: 125px;
    height: 125px;
}

.container_footer .logo{
    display: block;
    width: 100%;
    height: 100%;
}

.container_footer .photographer_info{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap:20px;
    font-size: 15px;
}

.container_footer h3.message{
    font-weight: 200;
    font-style: italic;
}

.container_footer .photographer_contacts{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap:30px;
}

.container_footer .social_icons{
    display: flex;
    gap:20px;
}

.container_footer .icon{
    width: 30px;
    height: 30px;
}

.container_footer .social_headline{
    font-size: 18px;
}

.container_footer .icon img{
    display: block;
    width: 100%;
    height: 100%;
}

.preloader{
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    overflow: hidden;
    background: #fff;
    z-index:15;
}

.preloader_image{
    width: 200px;
    height: 200px;
    background:url('../images1/loading.gif') no-repeat 50% 50%;
    background-size: 200px;
    position: absolute;
    top:50%;
    left:50%;
    margin-top:-100px;
    margin-left:-100px;
}

.loaded .preloader{
    display: none;
}

@media screen and (min-width:875px){
    header{
        display: block;    
        position: sticky;
        top: 0;
        z-index: 10;
    }

    .header_icon{
        
        position: absolute;
        top: 0;
        left: 0;
    }

    .photographer_info_page .photographer_icon{
        width: 325px;
        height: 325px;
    }
    
}

@media screen and (max-width:1000px){
    .logo_block{
        flex-direction: column;
    }
}

@media screen and (max-width:875px){
    .photographer_info_text h1.name{
        font-size:7.5vw;
    }
    
    .photographer_info_text .infos{
        font-size:5.5vw;
    }

    /* .logo_block{
        flex-direction: column;
    } */
    
    .logo_block h2{
        padding:50px 0;
    }

    .container_head,
    .navigation_block,
    .navigation_block ul{
        flex-direction: column;
    }
    .navigation_block{
        padding-left: 40px;
        align-items: start;
    }
    .photographer_info{
        flex-direction: column;
    }
    .photographer_icon{
        margin:0 auto;
    }
    .container_footer{
        flex-direction: column;
        align-items: center;
    }
}