*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a{
    text-decoration: none;
    color:inherit;
}

li{
    list-style-type: none;
}

.container
{
    max-width: 1200px;
    margin: 0 auto;
    font-family: 'Raleway', sans-serif;
}

.preloader{
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    overflow: hidden;
    background: #fff;
    z-index:15;
}

.preloader_image{
    width: 200px;
    height: 200px;
    background:url('../images1/loading.gif') no-repeat 50% 50%;
    background-size: 200px;
    position: absolute;
    top:50%;
    left:50%;
    margin-top:-100px;
    margin-left:-100px;
}

/* .print_button{
    border:none;
    cursor: pointer;
    text-transform: uppercase;
    padding:10px 20px;
    font-size: 20px;
} */

.loaded .preloader{
    display: none;
}

main .container{
    padding:125px 0;
}

body {
    -webkit-tap-highlight-color: transparent;
  }
  
  
.header_icon{
    display: block;
    position: static;
    cursor: pointer;
}  

header.selected{
    display: block;
}

header{
    display: none;
    position: static;
    background: #D0D0D0;
}

.container_head,
.logo_block,
.navigation_block ,
.navigation_block ul,
.contacts_block{
    display: flex;
}

.container_head{
    justify-content: space-between;
}

.navigation_block{
    display: flex;
    gap:50px;
}

.navigation ul{
    font-size: 14px;
    text-transform: uppercase;
    font-weight: 400;
    gap:60px;
}

.logo_block,.navigation_block,.contacts_block{
    align-items: center;
}

.logo_block .logo
{
    display: block;
    width: 145px;
    height: 155px;
    overflow: hidden;
}

.logo_block .logo img{
    display: block;
    width: 100%;
}

.logo_block h2{
    font-size: 25px;
}

.contacts_block
{
    width: 115px;
    display: flex;
    justify-content: space-between;
}

.contact_block
{
    display: block;
    background-color: #fff;
    width: 25px;
    height: 25px;
    transition: .5s;
    border-radius: 50%;
}

.contact_block .icon
{
    display: block;
    width: 100%;
    height: 100%;
}

main{
    background: linear-gradient(90deg, rgba(52, 52, 52, 0.2) 0%,
    rgba(255, 255, 255, 0.2) 10.42%, rgba(255, 255, 255, 0.2) 48.44%,
    rgba(255, 255, 255, 0.2) 88.54%, rgba(52, 52, 52, 0.2) 100%),
    #FFFFFF;
}

.error_message{
    text-align: center;
    font-size: 30px;
    padding:137px;
}

footer{
    background-color: #D0D0D0;
}

.container_footer{
    display: flex;
    justify-content: space-between;
}

.container_footer .photographer_icon{
    width: 155px;
    height: 155px;
}

.container_footer .logo{
    display: block;
    width: 100%;
    height: 100%;
}

.container_footer .photographer_info{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap:20px;
    font-size: 15px;
}

.container_footer h3.message{
    font-weight: 200;
    font-style: italic;
}

.container_footer .photographer_contacts{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap:30px;
}

.container_footer .social_icons{
    display: flex;
    gap:20px;
}

.container_footer .icon{
    width: 30px;
    height: 30px;
}

.container_footer .social_headline{
    font-size: 18px;
}

.container_footer .icon img{
    display: block;
    width: 100%;
    height: 100%;
}

@media screen and (min-width:875px){
    .container_questions .question{
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }
    header{
        display: block;    
        position: sticky;
        top: 0;
        z-index: 10;
    }

    .header_icon{
        
        position: absolute;
        top: 0;
        left: 0;
    }    
}

@media screen and (max-width:875px){
    .container_head,
    .navigation_block,
    .navigation_block ul{
        flex-direction: column;
    }
    .navigation_block{
        padding-left: 40px;
        align-items: start;
    }
    .photographer_info{
        flex-direction: column;
    }
    .container_footer{
        flex-direction: column;
        align-items: center;
    }
}

