*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a{
    text-decoration: none;
    color:inherit;
}

li{
    list-style-type: none;
}

.container
{
    max-width: 1200px;
    margin: 0 auto;
    font-family: 'Raleway', sans-serif;
}

.preloader{
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    overflow: hidden;
    background: #fff;
    z-index:15;
}

.preloader_image{
    width: 200px;
    height: 200px;
    background:url('../images1/loading.gif') no-repeat 50% 50%;
    background-size: 200px;
    position: absolute;
    top:50%;
    left:50%;
    margin-top:-100px;
    margin-left:-100px;
}

/* .print_button{
    border:none;
    cursor: pointer;
    text-transform: uppercase;
    padding:10px 20px;
    font-size: 20px;
} */

.loaded .preloader{
    display: none;
}

main .container{
    padding:125px 0;
}

body {
    -webkit-tap-highlight-color: transparent;
  }
  
  
.header_icon{
    display: block;
    position: static;
    cursor: pointer;
}  

header.selected{
    display: block;
}

header{
    display: none;
    position: static;
    background: #D0D0D0;
}

.container_head,
.logo_block,
.navigation_block ,
.navigation_block ul,
.contacts_block{
    display: flex;
}

.container_head{
    justify-content: space-between;
}

.navigation_block{
    display: flex;
    gap:50px;
}

.navigation ul{
    font-size: 14px;
    text-transform: uppercase;
    font-weight: 400;
    gap:60px;
}

.logo_block,.navigation_block,.contacts_block{
    align-items: center;
}

.logo_block .logo
{
    display: block;
    width: 145px;
    height: 155px;
    overflow: hidden;
}

.logo_block .logo img{
    display: block;
    width: 100%;
}

.logo_block h2{
    font-size: 25px;
}

.contacts_block
{
    width: 115px;
    display: flex;
    justify-content: space-between;
}

.contact_block
{
    display: block;
    background-color: #fff;
    width: 25px;
    height: 25px;
    transition: .5s;
    border-radius: 50%;
}

.contact_block .icon
{
    display: block;
    width: 100%;
    height: 100%;
}

main{
    background: linear-gradient(90deg, rgba(52, 52, 52, 0.2) 0%,
    rgba(255, 255, 255, 0.2) 10.42%, rgba(255, 255, 255, 0.2) 48.44%,
    rgba(255, 255, 255, 0.2) 88.54%, rgba(52, 52, 52, 0.2) 100%),
    #FFFFFF;
}

.slider,
.slider_buttons{
    display:flex;
}

.slider{
    max-height: 660px;
    justify-content: space-between;
}

.slider .arrow{
    padding:25vw 0;
    align-self: center;
    cursor: pointer;
}

.arrow img{
    display: block;
    width: 100%;
    height: 100%;
}

.slider_blocks1{
    width: 1000px;
}

.slider_blocks{
    position: relative;
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    overflow: hidden;
    transition: .5s;
}

.slider_block:nth-child(2){
    left:-1000px;
}

.slider_block:last-child{
    left:-1000px;
}

.slider_block{
    width: 100%;
    position: absolute;
    transition: .3s;
    top: 0;
    opacity: 0;
}

.slider_block.selected{
    opacity: 1;
}

.slider_block .slider_img:hover{
    filter: grayscale(0%);
}

.slider_block .slider_img{
    transition: .5s;
    width: 100%;
    height: 100%;
    filter: grayscale(100%);
}

.slider_buttons{
    position: absolute;
    bottom: 5%;
    width: 100%;
    gap:15px;
    justify-content: center;
}

.slider_button{
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: grey;
    transition: .5s;
    cursor: pointer;
}

.slider_button:hover{
    background: red;
}

.slider_button.selected{
    background-color: black;
}


.container_2 .photographer_info{
    display: flex;
    justify-content: space-between;
}

.photographer_info_text{
    max-width: 1000px;
    padding:125px 55px 120px;
    font-size:20px;
}

.photographer_info_text .infos{
    padding-top: 120px;
}

.photographer_info_text .info{
    margin-bottom: 60px;
}

.photographer_info_page{
    padding:100px 70px;
}

.photographer_info_page .photographer_icon{
    max-width: 325px;
    max-height: 325px;
}

.photographer_info_page .photographer_icon img{
    display: block;
    width: 100%;
    height: 100%;
}

.photographer_info_page .photographer_contacts{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap:25px;
    padding-top: 40px;
}

.photographer_info_page .photographer_contact{
    font-size: 18px;
    color:#fff;
    width: 200px;
    height: 50px;
    background: #323860;
    border-bottom: 1px solid #FFFFFF;
    text-align: center;
    transition: .5s;
}

.photographer_info_page .photographer_contact a{
    display: flex;
    justify-content: center;
    align-items: center;
    padding:13px 0 15px;
}

.photographer_info_page .photographer_contact:hover{
    background: #6A72AD;
}

.last_work_block .headline{
    text-align: center;
    margin-bottom: 205px;
}

.last_work_slider{
    display: flex;
    justify-content: space-between;
}

.last_work_slider .arrow{
    padding:5vw 0;
    align-self: center;
    cursor: pointer;
}

.last_work_slider_blocks{
    transition: opacity 1s ease-in-out;
    position: relative;
} 

 .last_work{
    display: none;
    max-width: 1500px;
    
    transition: opacity 5s ease-in-out;
    text-align: center;
}

.last_work.selected{
    
    
    display: block;
    opacity: 1;
    animation: fade-in 1s;
}

@keyframes fade-in {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }
  

.last_work_img{
    position: relative;
}


.last_work_layer{
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    opacity: 0.6;
    background-color: #545454;
}

.last_work img{
    display: block;
    width: 100%;
    height: 100%;
}

.last_work_info{
    display: none;
    position: absolute;
    top: 0;
    width: 100%;
    background-color: #545454a1;
    font-size:1.2vw;
}

.last_work_info h2{
    margin: 15px;
}



.last_work .name{
    font-weight: 500;
}

.last_work .location{
    font-weight: 200;
}

.last_work .photo_type{
    font-style: italic;
    font-weight: 600;
}


.portfolio_block .headline{
    text-align: center;
}

.portfolio_block .photo_options{
    display:flex;
    justify-content: center;
    padding:155px 0 115px;
}


.photo_gallery .photo img{
    display: block;
    width: 100%;
    height: 100%;
}

.portfolio_block .photo_option{
    padding:5px 20px 15px;
    text-align: center;
    font-size: 18px;
    font-weight: 400;
    transition: .5s;
    cursor: pointer;
}

.photo_option.selected,
.photo_option:hover{
    border-bottom: 1px solid #000;
}

.portfolio_galleries .more_info{
    width: 200px;
    margin: 50px 0;
    background-color: #000;
    border: 1px solid #fff;
    font-size: 18px;
    color:#fff;
}

.portfolio_galleries .more_info a{
    display: flex;
    justify-content: center;
    align-items: center;
    padding:20px 0;
}

.photo_gallery, 
.photo_gallery .photos{
    display: grid;
    gap:5px;
}



.additional_services_block .headline{
    text-align: center;
}

.additional_services{
    padding:145px 0 75px;
    gap:50px;
    display: grid;
}

.additional_service{
    max-width: 365px;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    border-radius: 10px;
}

.additional_service.printed_photos{
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.44), rgba(0, 0, 0, 0.44)), url(../images/printed_photos_grey.png);
    background-repeat: no-repeat;
    background-size:cover;
}

.additional_service.wedding_photobook{
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.44), rgba(0, 0, 0, 0.44)), url(../images/wedding_photobook_grey.png);
    background-repeat: no-repeat;
    background-size:cover;
}

.additional_service.photo_packaging{
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.44), rgba(0, 0, 0, 0.44)),url(../images/photo_packaging_grey.png);
    background-repeat: no-repeat;
    background-size:cover;
}

.additional_service .service_img_block{
    padding:31px 32px;
    background-color: #E0E4FD;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 10px 10px 0px 0px;
}

.additional_service .service_img_block .service_img{
    display: block;
    width: 300px;
    height: 200px;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    border-radius: 10px;
}

.additional_service .service_name{
    font-weight: 200;
    font-size: 18px;
    color: #ffffff;
    cursor:pointer
}


.additional_service a{
    color:#fff;
    font-size: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding:85px 0px;
}

.container_questions .headline{
    text-align: center;
}

.container_questions .question_blocks{
    display: grid;
    gap:15px;
    padding:100px 0;
}

.container_questions .question_block{
    
    position: relative;
}


.container_questions .question{
    width: 100%;
    display: flex;
    flex-direction: column;
    cursor: pointer;
    padding:15px 20px;
    border:2px solid black;
}

.answer_button {
    color: #ecf0f1;
    background: #e74c3c;
    width: 50px;
    cursor: pointer;
    height: 50px;
    border: 0;
    font-size: 1.5em;
    position: relative;
}
  
.answer_button span {
    position: absolute;
    transition: 300ms;
    background: white;
    border-radius: 2px;
}

.answer_button span:first-child {
    top: 25%;
    bottom: 25%;
    width: 10%;
    left: 45%;
}

.answer_button span:last-child {
    left: 25%;
    right: 25%;
    height: 10%;
    top: 45%;
}

.answer_button span.selected {
    transform: rotate(90deg);
}

.answer_button span:last-child.selected {
    left: 50%;
    right: 50%;
}

.container_questions .answer{
    display: none;
    position: relative;
}

.photographer_quality_block .headline{
    text-align: center;
}

.photographer_quality{
    padding:145px 0 75px;
    display: flex;
    justify-content: space-between;
}

.quality{
    max-width: 310px;
    height: 275px;
    display: flex;
    flex-direction: column;    
    align-items: center;
    text-align: center;
}

.quality .quality_name{
    margin:30px 0 45px;
}

.quality .quality_descr{
    font-weight: 200;
}

.feedback_block .headline{
    font-weight: 400;
    margin-bottom: 85px;
}

.feedback_block .user_info{
    max-width: 580px;
}

.feedback_block .input{
    display: block;
    width: 100%;
    padding:20px 0;
    font-size: 15px;
    border: none;
    border-bottom: 1px solid black;
    background: transparent;
}

.feedback_block .iti{
   width: 100%;
}

.feedback_block .error{
    font-size: 20px;
    color:red;
    font-weight: bold;
    opacity: 0;
    margin-bottom: 60px;
}

.feedback_block .sendButton{
    display: block;
    width: 200px;
    height: 50px;
    background-color: #000;
    color:white;
    font-size: 18px;
    font-weight: 200;
    transition: .5s;
    cursor: pointer;
}

.feedback_block .sendButton:hover{
    background-color: #fff;
    color:#000;
}

footer{
    background-color: #D0D0D0;
}

.container_footer{
    display: flex;
    justify-content: space-between;
}

.container_footer .photographer_icon{
    width: 155px;
    height: 155px;
}

.container_footer .logo{
    display: block;
    width: 100%;
    height: 100%;
}

.container_footer .photographer_info{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap:20px;
    font-size: 15px;
}

.container_footer h3.message{
    font-weight: 200;
    font-style: italic;
}

.container_footer .photographer_contacts{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap:30px;
}

.container_footer .social_icons{
    display: flex;
    gap:20px;
}

.container_footer .icon{
    width: 30px;
    height: 30px;
}

.container_footer .social_headline{
    font-size: 18px;
}

.container_footer .icon img{
    display: block;
    width: 100%;
    height: 100%;
}

.container_slider{
    display: none;
    background:#222;
}

body{
    position: relative;
}

.container_slider.selected{
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
    position: absolute; 
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    transition: .5s;
}

.swiper{
    width: 80%;
    height: fit-content;
}

.swiper-slide img{
    width: 100%;
}

@media screen and (min-width:875px){
    .container_questions .question{
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }
    header{
        display: block;    
        position: sticky;
        top: 0;
        z-index: 10;
    }

    .header_icon{
        
        position: absolute;
        top: 0;
        left: 0;
    }

    .photographer_info_page .photographer_icon{
        width: 325px;
        height: 325px;
    }
    
    .photo_gallery.wedding .photos.row1{
        grid-template-columns: 1fr 2fr;
    }
    
    .photo_gallery.wedding .photos.row2{
        grid-template-columns: 2fr 1fr 1fr;
    }

    .photo_gallery.wedding .photos.row3{
        grid-template-columns: repeat(2,1fr);
    }

    .photo_gallery.wedding .photos.row4{
        grid-template-columns: 1fr 1fr 2fr;
    }

    .photo_gallery.wedding .photos.row5{
        grid-template-columns: repeat(2,1fr);
    }
    
    .photo_gallery.lovestory .photos.row1{
        grid-template-columns: 2fr 1fr;
    }
    
    .photo_gallery.lovestory .photos.row2{
        grid-template-columns: 2fr 1fr;
    }
    
    .photo_gallery.lovestory .photos.row3{
        grid-template-columns: 2fr 1fr 1fr;
    }

    .photo_gallery.lovestory .photos.row4{
        grid-template-columns: 2fr 1fr 1fr;
    }

    .photo_gallery.lovestory .photos.row5{
        grid-template-columns: repeat(2,1fr);
    }

    .photo_gallery.lovestory .photos.row6{
        grid-template-columns: 1fr 2fr 1fr;
    }

    .photo_gallery.lovestory .photos.row7{
        grid-template-columns: 1fr 2fr;
    }

    .photo_gallery.lovestory .photos.row8{
        grid-template-columns: repeat(2,1fr);
    }

    .photo_gallery.lovestory .photos.row9{
        grid-template-columns: 2fr 1fr;
    }

    .photo_gallery.lovestory .photos.row10{
        grid-template-columns: repeat(2,1fr);
    }

    .photo_gallery.lovestory .photos.row11{
        grid-template-columns: repeat(2,1fr);
    }

    .photo_gallery.school .photos.row1,
    .photo_gallery.school .photos.row2{
        grid-template-columns: repeat(2, 1fr);
    }
    
    .photo_gallery.birthday .photos.row1,
    .photo_gallery.birthday .photos.row2{
        grid-template-columns: repeat(2, 1fr);
    }
    
    .photo_gallery.vignette .photos.row1,
    .photo_gallery.vignette .photos.row2{
        grid-template-columns: repeat(2, 1fr);
    }
    
    
    .photo_gallery.individual .photos.row1{
        grid-template-columns: repeat(2,1fr);
    }
    
    .photo_gallery.individual .photos.row2{
        grid-template-columns: repeat(2,1fr);
    }
    
    .additional_services{
        display: grid;
        grid-template-columns: repeat(3,1fr);
    }
    
}


@media screen and (max-width:875px){
    .container_head,
    .navigation_block,
    .navigation_block ul{
        flex-direction: column;
    }
    .navigation_block{
        padding-left: 40px;
        align-items: start;
    }
    .photographer_info{
        flex-direction: column;
    }
    .photographer_icon{
        margin:0 auto;
    }
    .photo_options{
        flex-direction: column;
    }
    .additional_service{
        margin: 0 auto;
    }
    .additional_service a{
        padding:85px 10vw;
    }
    .photographer_quality{
        flex-direction: column;
        align-items: center;
    }
    .container_footer{
        flex-direction: column;
        align-items: center;
    }
}
